 
# Gmail test 
backend/scripts/gmail_venv/ 
backend/scripts/token.json 

chromadb/server.htpasswd
chromadb/.env
chromadb/chromadb_password.txt

# Sanofi
gcp/sanofi/infra/terraform.tfvars 
realisations/sanofi/gcp_sa_sanofi.json 
gcp/sanofi/infra/.terraform/ 
gcp/sanofi/infra/.terraform.lock.hcl 
gcp/sanofi/infra/terraform.tfstate 
gcp/sanofi/infra/terraform.tfstate.backup 
realisations/sanofi/.env 
backend/gcp_sa_sanofi.json 
realisations/sanofi/ml/.env
realisations/sanofi/ml/results/

# Savencia
gcp/savencia/infra/terraform.tfvars 
realisations/savencia/gcp_sa_savencia.json 
gcp/savencia/infra/.terraform/ 
gcp/savencia/infra/.terraform.lock.hcl 
gcp/savencia/infra/terraform.tfstate 
gcp/savencia/infra/terraform.tfstate.backup
gcp/savencia/infra/gen-lang-client-0989575872-bcdbf94ee857.json
gcp/savencia/infra/sa_terraform_savencia_minified.txt
realisations/savencia/.env 
backend/gcp_sa_savencia.json 
realisations/savencia/ml/.env
realisations/savencia/ml/results/
realisations/savencia/ml/models/*.pt
realisations/savencia/ml/models/*.pth
realisations/savencia/ml/sample_images/
realisations/savencia/venv-savencia
realisations/savencia/ml/__pycache__
realisations/savencia/ml/training/__pycache__/


 
# SG 
realisations/sg/sg-assurances/training/models/ 
realisations/sg/sg-assurances/ml/results/ 
realisations/sg/sg-assurances/gcp/infra/terraform.tfvars 
realisations/sg/sg-assurances/ingestion/*.pdf 
realisations/sg/sg-assurances/.env
realisations/sg/sg-assurances/gcp_sa_sg.json
gcp/sg/infra/terraform.tfvars
gcp/sg/sg-assurances/infra/terraform.tfvars 
gcp/sg/sg-assurances/infra/.terraform/
gcp/sg/sg-assurances/infra/.terraform.lock.hcl

realisations/sg/sg-assurances/pipeline/.env
 
# SG Assurances training data 
realisations/sg/sg-assurances/training/data/ 
# SG Assurances training models artifacts 
realisations/sg/sg-assurances/training/models/*.pt 
realisations/sg/sg-assurances/training/models/*.bin 
realisations/sg/sg-assurances/training/models/*.safetensors 
realisations/sg/sg-assurances/training/models/*.pth 
realisations/sg/sg-assurances/training/.env

realisations/sg/sg-assurances/training/venv-sg-training/
realisations/sg/sg-assurances/training/synthetic/__pycache__/
# YOLO training runs
realisations/sg/sg-assurances/training/runs/

realisations/sg/sg-assurances/training/ner/__pycache__/
realisations/sg/sg-assurances/training/qlora/__pycache__/
realisations/sg/sg-assurances/ml/.env
realisations/sg/sg-assurances/ml/models/
realisations/sg/sg-assurances/llama.cpp/
realisations/sg/sg-assurances/llamaZip/

realisations/sg/sg-assurances/sa_sg_minified.txt

